/* app/globals.css */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family:
    'SUIT',
    'Apple SD Gothic Neo',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  background-color: #171612; /* 기본 배경색 */
  overscroll-behavior: none; /* ✅ iOS에서 스크롤로 인한 터치 이벤트 차단 */
  touch-action: none; /* ✅ 기본 터치 이벤트 방지 */
  -webkit-overflow-scrolling: none; /* ✅ iOS Safari 스크롤 문제 해결 */
}

#__next {
  width: 375px;
  height: 812px;
  margin: 0 auto; /* 화면 중앙 정렬 */
  overflow: hidden;
  border: 1px solid #ddd; /* 디버그용 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 약간의 입체감 추가 */
}

* {
  box-sizing: border-box;
}

:root {
  --black: rgba(0, 0, 0);
  --ivory: #e5dcca;
  --brown: #473728;
}

@media (width: 375px) and (height: 812px) {
  body {
    background-color: #171612; /* 아이폰 13 미니 전용 배경 */
  }
}

@font-face {
  font-family: 'SUIT';
  src: url('./fonts/SUIT-Variable.woff2') format('woff2');
}

body {
  font-family: 'SUIT', sans-serif;
}
